# JetBrains Environment
.idea/

# Project's exceptions
#app/code/node_modules
#app/code/coverage
#app/code/build
#app/code/dist
#app/code/package-lock.json
#app/code/babel.config.js

# Special files and directories
.DS_Store
