.page-header {
	text-align: center;
	color: #FF7514;
	margin-bottom: 5%;
}

.form-horizontal{

	width: 50%;
}
.container form{
	margin-left: 26%;

}
.container{
	margin-top: 7%;
}
.page-header{
	margin-right: 8%
}
#sign-up-btn{
	margin-left: 52.5%;
	width: 30%;
}
