#feedHeader{
	border-bottom: 1px solid #CCCCCC!important;
	background-color: #FF7514;
	height: 5%


}
#navIcon img {
	margin: 8px;
}
li#navIcon:hover {
	
	background-color: #EC7C26;
}
.navbar-brand{
	color: #FFFFFF;
	font-size: 200%!important;
	font-family: 'Baloo 2', cursive;
}
.navbar-brand:hover{
	color: #FFFFFF;
}
#feed{
	
	width: 40%;
	margin-top: 6%;
}
#link{
	margin-top: 30%;
}
#sign-up{

	width: 40%;
	margin-top: 10%;
}