#feedHeader{
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	height: 5%
	
}
#navIcon img {
	margin: 8px;
}
li#navIcon:hover {
	
	background-color: #EC7C26;
}
.navbar-brand{
	color: #FF7514;
	font-size: 200%!important;
	font-family: 'Baloo 2', cursive;
}
.navbar-brand:hover{
	color: #FF7514;
}
#feed{
	
	width: 40%;
	margin-top: 6%;
}
#link{
	margin-top: 30%;
}
#sign-up{

	width: 40%;
	margin-top: 10%;
}
button:focus{
	outline: none!important;
}