#main1{
	width: 63vh;
	margin-top: auto;
	margin-top: 8%;
}
#prof-pic{
	max-width: 25vh;
	max-height: 25vh;
	min-width: 25vh;
	width: 25vh;
	height: 25vh;
	border-radius: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	
}
#prof-pic-pick{
	position: absolute;
	cursor: pointer;
	width: 25vh;
	height: 25vh;
	opacity: 0;
	border-radius: 50%;
}
#test-pic{
	max-width: 25vh;
	max-height: 25vh;
	border-radius: 50%;
	width: 25vh;
	height: 25vh;
	border: solid 1px;
	border-color: #FF7514;
}
#u-f-name{
	max-width: 100%;
	text-align: center;
	padding: 3%;
	width: 60%;
	margin-left: -4%;
	border-bottom: solid 1px;
	border-color: #FF7514;
	margin: auto;
}
#username{
	display: flex;
	justify-content: center;
	font-size: 3vh;
	color: #FF7514;
}
#full-name{
	display: flex;
	justify-content: center;
	font-size: 3.5vh;
	color:#FF7514;
}
#set-btn{
	max-width: 25%;
	margin-top: 5%;
}

#memes-table{
	margin: auto;
	margin-top: 2%;
	width: 65vh;
}
#section{
	text-align: center;
	margin-bottom: 8%;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 4.7vh;
	height: 4.7vh;
	width: 20vh;
	font-family: 'Baloo 2', cursive;
	color: #FF7514;
	border-color: #FF7514!important;
	border: solid 1px;
	font-size: 3vh;
	overflow:hidden;
}
#add-section{
	text-align: center;
	margin-bottom: 8%;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 4.5vh;
	height: 4.5vh;
	max-width: 17vh;
	width: 17vh;
	font-family: 'Baloo 2', cursive;
	color: #FF7514;
	border-color: #FF7514!important;
	border: solid 1px;
	font-size: 2.5vh;
	overflow:hidden;
}
#add-sub-input{
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 3.5vh;
	height: 3.5vh;
	max-width: 17vh;
	width: 17vh;
	font-family: 'Baloo 2', cursive;
	color: #FF7514;
	border-color: #FF7514!important;
	border: solid 1px;
	font-size: 2vh;
	overflow:hidden;
}
#add-sub-sec-input{
	display: none;
	max-width: 20vh;
	max-height: 3.5vh;
}
input:focus{
	outline: none;

}
#row{
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
}
#main-row{
	display: flex;
	justify-content: center;
}
#memes-col{

}


#sec-col{
	max-width: 20vh;

}
#main-info{
	max-width: 100%;
}

button:focus{
	outline: none!important;
}
#pressed{
	margin-bottom: 8%;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 4.7vh;
	height: 4.7vh;
	width: 20vh;
	font-family: 'Baloo 2', cursive;
	color: #B5B8B1;
	border: solid 1px;
	font-size: 3vh;
}
#sub-row{
	margin-top: 4%!important;
	margin-bottom: 4%!important;
	display: none;
	margin: auto;

}
#sub-section, #add-sub-section{
	text-align: center;
	max-width: 20vh;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 3.5vh;
	height: 3.5vh;
	width: 20vh;
	font-family: 'Baloo 2', cursive;
	color: #FF7514;
	border-color: #FF7514!important;
	border: solid 1px;
	font-size: 2vh;
}
#sub-sec-col, #add-sub-sec-col{
	max-width: 20vh;
	width: 20vh;
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}
#sub-pressed{
	max-width: 20vh;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5%;
	min-height: 3.5vh;
	height: 3.5vh;
	width: 20vh;
	font-family: 'Baloo 2', cursive;
	color: #B5B8B1;
	border: solid 1px;
	font-size: 2vh;
}


#add-section-col{
	display: none;
	max-width: 100%;
}
